.chat-view {
}

.chat-view__send-container {
  display: flex;
  flex-direction: column;
  padding: 70px 80px;
}

.chat-view__heading {
  margin-bottom: 11px;
}

.chat-view__text-area {
  resize: none;
  width: 100%;
  min-height: 100px;

  margin-bottom: 10px;
}

.chat-view__send-button {
  width: 100px;
  margin-left: auto;
}

