.chat-view {
}

.chat-view__send-container {
  padding: 90px 80px;
}

.chat-view__heading {
  margin-bottom: 11px;
}

.chat-view__text-area {
  resize: none;
  width: 100%;

  margin-bottom: 10px;
}

