.root {
}

.sendContainer {
  display: flex;
  flex-direction: column;
  padding: 70px 80px;
}

.heading {
  margin-bottom: 11px;
}

.textArea {
  resize: none;
  width: 100%;
  min-height: 100px;

  margin-bottom: 10px;
}

.sendButton {
  width: 100px;
  margin-left: auto;
}

