.root {
  position: relative;
  padding: 24px 32px;
}

.root:nth-child(even) {
  border-top: solid 1px #eeeeee;
  background-color: #f9f9f9;
}

.expand {
  position: absolute;
  top: 20px;
  right: 20px;

  padding: 8px;

  cursor: pointer;
}

.id {
  margin-bottom: 6px;
}

.balance {
  margin-bottom: 6px;
}

.annual, .createdAt, .lastOperation {
  color: #999999;
  font-size: 14px;
}


