.app {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.app__chat-container {
  background-color: #f4f4f4;
  flex: 1;
}

.app__accounts-container {
  max-width: 545px;
  flex: 1;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
