* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.app__chat-container {
  background-color: #f4f4f4;
  flex: 2;
}

.app__accounts-container {
  max-width: 545px;
  flex: 1;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
